# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=941ce8429938ce5d461e5ba8fa0461f618cb4cb180608203d6394cd88b6b0c74dfe4df2e5698492c8b4933ffd60c182fbbeb95716dc93601b3674aca7f5d29f5
REDIS_URL=redis://localhost:6379/14
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
